.container {
  background-color: #bfd9fe;
  width: 600px;
  margin: auto;
  position: relative;
  padding: 10px;
  top: 30px;
}

button {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  padding: 4px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background-color: #36a2eb;
  border-radius: 4px;
  transition: box-shadow 200ms ease-out;
  cursor: pointer;
}
